:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-bg: #0c4323;
  --color-header: #40861b;
  --color-text1: #000000;
  --color-text2: #ffffff;
  --color-border: #8bee58;
  --color-bg-box: #74b353;
  --color-selected: #426c26;
  --transition-speed: 160ms;
}

:root[data-theme="light"] {
  --color-bg: #213324;
}

.main-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.header-container {
  height: 100%;
  padding: 10px;
  gap: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-header);
}

.header-logo {
  height: 80px;
  width: 80px;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-box {
  height: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: min-content;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #8a8a8a;
  background-color: var(--color-bg);
}

.footer-copyright {
  color: #8a8a8a;
  font-size: 12px;
  opacity: 0.7;
}
