* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--color-bg);
  scrollbar-width: none;
  -ms-overflow-style: none;
  transition:
    background-color var(--transition-speed) linear,
    color var(--transition-speed) linear;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
